# Ignore dynaconf secret files
.secrets.*
*_private*

backend/static/
backend/docs/
demo-atm-fraud/build/
.gradle

# Generic
.DS_Store

# IDE
.idea
.vscode

# Helm
helm-chart/index-cache.yaml

# local development files
.env*
*private*
mock/