# Ignore dynaconf secret files
.secrets.*

backend/static/
backend/docs/

# Generic
.DS_Store

# IDE
.idea
.vscode

# Helm
helm-chart/index-cache.yaml

# local development files
.env*
*private*
mock/
