kafkaconnect:
  url: "http://localhost:8083"
  displayed_information:
    - name: "Transformer"
      key: "transforms.changeTopic.regex"

# update graph (fetch deployments and connectors) every X seconds
graph_update_every: 300
graph_layout_arguments: "-Grankdir=LR -Gnodesep=0.8 -Gpad=10"

k8s:
  deployment:
    cluster: false
    # not needed if in cluster
    context: "kubernetes-cluster"
    namespaces:
      - "kubernetes-namespace"
  # used to extract the consumer group for metrics (e.g. consumer lag)
  consumer_group_annotation: "consumerGroup"
  containers:
    ignore:
      - name: "prometheus-jmx-exporter"
  displayed_information:
    - name: "Labels"
      key: "metadata.labels"
  labels:
    # used to set attributes of nodes in the graph (used to extract pipeline names)
    - "pipeline"
  pipeline:
    # refers to the attribute of nodes the pipeline name should be extracted from
    label: "pipeline"

schemaregistry:
  url: "http://localhost:8081"

prometheus:
  url: "http://localhost:9090"

akhq:
  url: "http://localhost:8080"
  cluster: "cluster-name"

grafana:
  url: "http://localhost:3000"
  dashboards:
    topics: "path/to/dashboard"
    consumergroups: "path/to/dashboard"

kibanalogs:
  url: "http://localhost:5601"

esindex:
  url: "http://localhost:5601/app/kibana#/dev_tools/console"

plugins:
  path: "./plugins"
  extractors:
    default: true
